h1 { color: rgb(8, 8, 8); background-color: rgb(133, 128, 123); border-color: rgb(108, 106, 110);
    border-style: double;
}
p {

    color: rgb(8, 8, 8);    font: 700; font-style:normal; font-weight: 200; font-size: medium;
}
.profile_pic{

    float: right;
}
.pic_right {
    background-color: rgb(212, 226, 247);
    margin-right: 3%;
    
    )


.personal_info {
    position: relative;
}